mixin itemForm(item = {})
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name")
    label(for="description") Description
    textarea(name="description")
    - const choices = ['Antiques', 'Books, Movies & Music', 'Bicycles', 'Cars, Trucks & Motorcycles', 'Furniture', 'Misc']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          lavel(for=choice)= choice
    input(type="submit" value="Save" class="button")